<a href="https://colab.research.google.com/github/raghvendrasingh1005/devsample/blob/master/Assignment_25_09_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.**

**Ans: case sensitive error, variable declareation error, reserve word error, conversion error.**

**Please see example below:**

In [9]:
#case sensitive error
name = "Raghv"
print(Name)

NameError: ignored

In [1]:
#case sensitive error
Print("Hello Everyone!")

NameError: ignored

In [3]:
#Variable declaration
100number = 100

SyntaxError: ignored

In [5]:
#Variable declaration
100 number = 100

SyntaxError: ignored

In [4]:
#Variable declaration error
100-number = 100

SyntaxError: ignored

In [24]:
#reserve key word error when use as variable
as = 10

SyntaxError: ignored

In [23]:
#Convertion error
name = "Raghv" + 3

TypeError: ignored

**Q2. Take input A and B and print their sum, mul, div, square of the nos.**

Ans:

In [22]:
a = int(input("Enter First value:"))
b = int(input("Enter Second value:"))

print(f"Sum of a & b: {a +b}")
print(f"Multiplication of a & b: {a +b}")
print(f"Division of a & b: {a / b}")
print(f"Square of a: {a ** 2}")
print(f"Square of b: {b ** 2}")

Enter First value:10
Enter Second value:5
Sum of a & b: 15
Multiplication of a & b: 15
Division of a & b: 2.0
Square of a: 100
Square of b: 25

**Q3. How many reserve keywords are there in python and why we should not use them as a variable name.**                                                    
Ans: and, except, lambda, with, as, finally, nonlocal, while, assert, false, None, yield, break, for, not,  class, from, or, continue, global, pass, def, if, raise, del, import, return, elif, in, True,  else, is, try.

Reserve keywords will through invalid syntax error, if we will use them as a variable name.

In [12]:
as = "Hello"
print(as)

SyntaxError: ignored

In [13]:
lambda = 10
print(lambda)

SyntaxError: ignored

**Q4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com**

Ans:

In [14]:
fname = input("Enter first name:")
lname = input("Enter last name:")
print(f"Email ID is: {lname}.{fname}@gmail.com")

Enter first name:raghvendra
Enter last name:singh
Email ID is: singh.raghvendra@gmail.com

**Q5:** Try to print the following lines -                                          
Hi I'm Sunny                                                                   
My address is 22\3                                                            
I earn 20$ daily. 

**Ans:**

In [15]:
print("""
      Hi I'm Sunny
      Hi I'm Sunny
      I earn 20$ daily.
      """)

      Hi I'm Sunny
      Hi I'm Sunny
      I earn 20$ daily.

In [17]:
print("Hi I'm Sunny\nHi I'm Sunny\nI earn 20$ daily.")

Hi I'm Sunny
Hi I'm Sunny
I earn 20$ daily.

**Q6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs**

**Ans:**

In [19]:
fname = input("Enter first name:")
lname = input("Enter second name:")
address = input("Enter address:")
dateofbirth = input("Enter date of birth:")

print(f"Email ID: {fname}.{lname}@gmail.com")

Enter first name:Mehul
Enter second name:Singh
Enter address:A2/502
Enter date of birth:10/10/2005
Email ID: Mehul.Singh@gmail.com

**Q7. Convert the following -**                                           
"22.4" into integer                                                            
"22" into complex no. 

**Ans:**

In [34]:
#can't convert "22.4" into integer directly
#first need to convert in float
#then need to convert into integer

a = int(float("22.4"))
b = complex("22")

print(a)
print(b)

22
(22+0j)