<a href="https://colab.research.google.com/github/raghvendrasingh1005/devsample/blob/master/FSDS_bootcamp_assignment_004_Oct_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**control flow and conditional statements**

**Q1. Find the largest number from the given list, use for loop.**

numbers = [12, 75, 150, 180, 145, 525, 50]

In [50]:
numbers = [12, 75, 150, 180, 145, 525, 50]

largest_number = numbers[0]
for number in numbers:
     if number > largest_number:
        largest_number = number
  
print(largest_number)

525

**Q2. Print all the even number between (1, 12).**

In [44]:
for i in range(1, 12):
  if i % 2 == 0:
    print(f"Even number: {i}")

Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10

**Q3. Calculate the sum of all numbers from 1 to a given number**

Expected Output:

Enter number 10

Sum is:  55

In [40]:
number = int(input("Enter number: "))

i = 0
sum = 0

while number > i:
  i += 1
  sum += i  
print(f"Sum: {sum}")

Enter number: 10
Sum: 55

**Q4. Write a program to display only those numbers from a list that satisfy the following conditions**

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

In [54]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for number in numbers:
  if number > 500:
         break
  elif number > 150:
       continue
  elif number % 5 == 0:
    print(number)

75
150
145

**Q5. Print the given list in reverse order.**

list1 = [10, 20, 30, 40, 50]

In [60]:
list1 = [10, 20, 30, 40, 50]

list2 = reversed(list1)

for number in list2:
     print(number)

50
40
30
20
10